/* timer */
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    color: #FFF !important;
  }
  .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
    color: #FFF !important;
  }
  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
    color: #FFF !important;
  }
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    color: #FFF !important;
  }
  .checkbox{
    background-color: #000;
  }
  .checkbox:checked{
    background-color: #000;
  }
  .MuiOutlinedInput-input {
    color: #FFF;
  }
  
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    color: #FFF;
  }

  .MuiOutlinedInput-root{
    color: #FFF;
  }
  
  .MuiInputBase-colorPrimary{
    color: #FFF;
  }
  
  .MuiInputBase-formControl{
    color: #FFF;
  }
  
  .css-zrfp1q-MuiInputBase-root-MuiOutlinedInput-root{
    color: #FFF;
  }
  .MuiInputBase-input{
    color: #FFF;
  }

  .MuiFormLabel-root{
    color: #FFF;
  }
  
  .MuiInputLabel-root{
    color: #FFF;
  }
  
  .MuiInputLabel-formControl{
    color: #FFF;
  }

  .MuiInputLabel-outlined{
    color: #FFF;
  }
  
  .MuiFormLabel-colorPrimary{
    color: #FFF;
  }
  
  .MuiFormLabel-filled{
    color: #FFF;
  }

  .MuiInputLabel-outlined{
    color: #FFF;
  } 
  
  .css-122k57l-MuiFormLabel-root-MuiInputLabel-root{
     color: #FFF;
  }