<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Avalon</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="intro">
  <div class="container">
    <h1>Avalon Events &darr;</h1>
  </div>
</section>

<section class="timeline">
  <ul>
    <li>
      <div>
        <time>16th February 2022</time> Wacky Weekend
      </div>
    </li>
    <li>
      <div>
        <time>27th February</time> Coding Competition
      </div>
    </li>
    <li>
      <div>
        <time>31th February</time> Speaker Event
      </div>
    </li>
    <li>
      <div>
        <time>8th March 2022</time> Speaker Event
      </div>
    </li>
    <li>
      <div>
        <time>10th March 2022</time> Speaker Event
      </div>
    </li>
    <li>
      <div>
        <time>11th March 2022</time> Speaker Event
      </div>
    </li>
    <li>
      <div>
        <time>12th March 2022</time> Speaker Event
      </div>
    </li>
  </ul>
</section>
<footer class="page-footer">
  <h3>Aliasgar Fatakdawala</h3>
</footer>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
